@import "../../styles.scss";

.searchbox {
  margin-top: 2rem;
  padding: 1rem 0.5rem;
  display: flex;
  border-radius: $border-radius;
  box-shadow: $shadow;
  background-color: var(--secondary);
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    align-items: center;
    width: 85%;
  }

  img {
    margin: 0rem 1.5rem 0rem 1.5rem;
  }

  input {
    border: none;
    line-height: 1.5625rem;
    background-color: var(--secondary);
    font-family: $font-family;
    color: var(--text-color);
    font-size: 1.125rem;
    width: 100%;
    &:focus {
      outline: none;
    }
  }

  button {
    background-color: $primary;
    color: white;
    font-family: $font-family;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.625rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      background-color: $primary-hover;
    }
  }

  .error {
    width: 20%;
    font-size: 0.9375rem;
    font-weight: 700;
    color: $error;
  }
}
